# editorconfig.org
root = true

[*]
indent_style = space tab   # Use space or tab (but not both)
indent_size = 2

charset = utf-8
trim_trailing_whitespace = true


[*.md]
trim_trailing_whitespace = false

