<div class="brand-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="brand-add">
          <a href="#"><img src="./img/brand-logo/bl5.webp" alt="brand-logo"></a>
        </div>
      </div>
      <div class="col-lg-8">
        <!-- Brand Logo -->
        <div class="brand-logo">
          <div class="swiper brandLogo-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#"><img src="./img/brand-logo/bl1.webp" alt="brand-logo"></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="./img/brand-logo/bl2.webp" alt="brand-logo"></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="./img/brand-logo/bl3.webp" alt="brand-logo"></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="./img/brand-logo/bl4.webp" alt="brand-logo"></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="./img/brand-logo/bl1.webp" alt="brand-logo"></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="./img/brand-logo/bl2.webp" alt="brand-logo"></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="./img/brand-logo/bl3.webp" alt="brand-logo"></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="./img/brand-logo/bl4.webp" alt="brand-logo"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
