<div class="footer-area home-2">
  <!-- Footer Top -->
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <!-- Block Subscribe -->
          <div class="block-subscribe">
            <div class="subscribe-title">
              <div class="icon"><i class="fa fa-envelope-o"></i></div>
              <h3>Send Newsletter</h3>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <div class="subscribe-input-box">
                   <input type="text" title="Sign up for our newsletter" name="email" required="required">
                </div>
                <div class="subscribe-action">
                   <button title="Subscribe" type="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div><!-- End Block Subscribe -->
        </div>
        <div class="col-md-4">
          <!-- Social Footer -->
          <div class="social-footer">
            <ul class="link-follow">
              <li class="first">
                <a href="#" class="facebook fa fa-facebook">
                  <img src="../img/facebook.svg" alt="facebook">
                </a>
              </li>
              <li>
                <a href="#" class="twitter fa fa-twitter">
                  <img src="../img/x.svg" alt="x">
                </a>
              </li>
              <li>
                <a href="#" class="google fa fa-google-plus">
                  <img src="../img/google.svg" alt="google">
                </a>
              </li>
              <li>
                <a href="#" class="instagram fa fa-instagram">
                  <img src="../img/instagram.svg" alt="instagram">
                </a>
              </li>
            </ul>
          </div><!-- End Social Footer -->
        </div>
      </div>
    </div>
  </div><!-- End Footer Top -->
  <!-- Footer Static -->
  <div class="footer-static">
    <div class="container">
        <div class="footer-bottom-wrap">
            <!-- Single Footer Static -->
                    <div class="single-footer-static static-info">
                        <div class="footer-static-title">
                            <h3>Information</h3>
                        </div>
                        <div class="footer-static-content">
                            <ul>
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Blog</a></li>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Site Map</a></li>
                            </ul>
                        </div>
                    </div><!-- End Single Footer Static -->
                    <!-- Single Footer Static -->
                    <div class="single-footer-static">
                        <div class="footer-static-title">
                            <h3>Customer Service</h3>
                        </div>
                        <div class="footer-static-content">
                            <ul>
                                <li><a href="#">Shipping Policy</a></li>
                                <li><a href="#">Compensation First</a></li>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Return Policy</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div><!-- End Single Footer Static -->
                    <!-- Single Footer Static -->
                    <div class="single-footer-static static-shipping">
                        <div class="footer-static-title">
                            <h3>Payment & Shipping</h3>
                        </div>
                        <div class="footer-static-content">
                            <ul>
                                <li><a href="#">Terms of Use</a></li>
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Shipping Guide</a></li>
                                <li><a href="#">Locations We Ship To</a></li>
                                <li><a href="#">Estimated Delivery Time</a></li>
                            </ul>
                        </div>
                    </div><!-- End Single Footer Static -->
                    <!-- Single Footer Static -->
                    <div class="single-footer-static static-account">
                        <div class="footer-static-title">
                            <h3>My Account</h3>
                        </div>
                        <div class="footer-static-content">
                            <ul>
                                <li><a href="#">My Addresses</a></li>
                                <li><a href="#">Gift Vouchers</a></li>
                                <li><a href="#">Returns and Exchanges</a></li>
                                <li><a href="#">Shipping Options</a></li>
                                <li><a href="#">My personal info</a></li>
                            </ul>
                        </div>
                    </div><!-- End Single Footer Static -->
                    <!-- Single Footer Static -->
                    <div class="single-footer-static static-contact">
                        <div class="footer-static-title">
                            <h3>Contact Us</h3>
                        </div>
                        <div class="footer-static-content">
                            <div class="contact-info">
                                <p class="phone">Phone: 01737803547</p>
                                <p class="email">Email: admin@bootexperts.com</p>
                                <p class="adress">Address: No. 96, Jecica City, NJ 07305, New York, USA</p>
                            </div>
                        </div>
                    </div><!-- End Single Footer Static -->
        </div>
    </div>
  </div><!-- End Footer Static -->
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <!-- Copyright -->
          <div class="copyright">
            <p>&copy; 2021 <span> Selphy </span> Made by <a href="https://seigerit.com/">SeigerIT</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Footer Payment -->
          <div class="footer-payment">
            <a href="#"><img src="./img/logo/payment.webp" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div><!-- End Footer Bottom -->
</div>
