<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Selphy</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <meta name="theme-color" content="#111111"> -->

<!-- Favicon -->
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

<!-- CSS
============================================ -->

<!-- Icon Font CSS -->
<link rel="stylesheet" href="assets/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


<!-- Plugins CSS -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/meanmenu.min.css">
<link rel="stylesheet" href="assets/css/nivo-slider.css">
<link rel="stylesheet" href="assets/css/jquery-ui-slider.css">
<link rel="stylesheet" href="assets/css/jquery.simpleLens.css">
<link rel="stylesheet" href="assets/css/jquery.simpleGallery.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">

<!-- Main Style CSS -->
<!-- <link rel="stylesheet" href="assets/css/style.css"> -->
<link rel="stylesheet" href="assets/css/responsive.css">
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/vendor.css">

<script defer src="js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>


</head>
