<header class="header-area">

  <!-- Header Top -->
 <!-- <div class="header-top">
    <div class="container">
      <div class="header-top-bar">
        <div class="row">
          <div class="col-lg-5 col-md-6">

            <div class="header-top-left">
              <div class="call-header">
                <p><i class="fa fa-phone"></i>Call us toll free:<span> (+88) 01737803547</span></p>
              </div>
              <div class="header-login">
                <a href="my-account.html">Log in</a>
              </div>
            </div>
          </div>
          <div class="col-lg-7 col-md-6">

            <div class="header-top-right">

              <div class="header-link-area">
                <div class="header-link">
                  <ul>
                    <li><a class="english" href="#">English<i class="fa fa-angle-down"></i></a>
                      <ul>
                        <li><a href="#">English 1</a></li>
                        <li><a href="#">English 2</a></li>
                        <li><a href="#">English 3</a></li>
                        <li><a href="#">English 4</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="header-link">
                  <ul>
                    <li class=""><a class="usd" href="#">USD<i class="fa fa-angle-down"></i></a>
                      <ul>
                        <li><a href="#">EUR</a></li>
                        <li><a href="#">USD</a></li>
                      </ul>
                    </li>
                    <li><a class="account" href="#">Account<i class="fa fa-angle-down"></i></a>
                      <ul>
                        <li><a href="my-account.html">My Account</a></li>
                        <li><a href="wishlist.html">My Wishlist</a></li>
                        <li><a href="cart.html">My Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="testmonial.html">Testmonial</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div> -->
  <!-- End Header Top -->

  <!-- Header Bottom -->
  <div class="header-bottom">
    <div class="container">
      <!-- Header Bottom Inner-->
      <div class="header-bottom-inner">
        <div class="row justify-content-between">
          <div class="col-lg-3 col-md-4 col-sm-4 col-6 order-lg-1">
            <!-- Header Logo -->
            <div class="header-logo">
              <a href="index.html"><img src="../img/logo/logo.png" alt="logo"></a>
            </div>
          </div>
          <div class="col-lg-2  col-md-3 col-sm-4 col-5 order-lg-3">
            <!-- Header Actions Area-->
            <div class="header-actions">
              <div class="header-cart">
                <a class="cart" href="#">
                  <i class="fa fa-shopping-cart"></i>
                  <span class="my-cart">Cart</span> - 2 items
                </a>
                <div class="header-cart-dropdown">
                  <div class="dropdown-cart-items">
                    <div class="cart-item">
                      <div class="cart-img">
                        <a href="#"><img src="../img/cart/c1.webp" alt="cart" /></a>
                      </div>
                      <div class="cart-content">
                        <h5 class="title"><a href="#">Aliquam consequat</a></h5>
                        <p>1 x <span>$432.00</span></p>
                      </div>
                      <div class="cart-action">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-times"></i></a>
                      </div>
                    </div>
                    <div class="cart-item">
                      <div class="cart-img">
                        <a href="#"><img src="../img/cart/c2.webp" alt="cart" /></a>
                      </div>
                      <div class="cart-content">
                        <h5 class="title"><a href="#">Proin lectus ipsum</a></h5>
                        <p>1 x <span>$432.00</span></p>
                      </div>
                      <div class="cart-action">
                        <a href="#"><i class="fa fa-pencil"></i></a>
                        <a href="#"><i class="fa fa-times"></i></a>
                      </div>
                    </div>
                  </div>

                  <div class="cart-total-btn">
                    <div class="cart-subtotal">
                      <p>Subtotal: <span>$1,131.00</span></p>
                    </div>
                    <div class="cart-btn">
                      <button type="button" class="btn">checkout</button>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- End Header Actions Area-->
          </div>
          <div class="col-lg-7 order-lg-2">
            <div class="header-search">
              <!-- All Categorie -->
              <div class="all-categories">
                <div class="product-categori">All Categories</div>
                <ul class="product-categori-list">
                  <li onclick=setValue(this) value="All Categories">All Categories</д>
                  <li onclick=setValue(this) value="Categorie One">Laptop</д>
                  <li onclick=setValue(this) value="Categorie Two">Dresses</д>
                  <li onclick=setValue(this) value="Categorie Two">shoes</д>
                  <li onclick=setValue(this) value="Categorie Two">Handbags</д>
                  <li onclick=setValue(this) value="Categorie Two">Clothing</д>
                  <li onclick=setValue(this) value="Categorie Two">Mobile</д>
                  <li onclick=setValue(this) value="Categorie Two">Bags</д>
                  <li onclick=setValue(this) value="Categorie Two">Clothing</д>
                  <li onclick=setValue(this) value="Categorie Two">Handbag</д>
                  <li onclick=setValue(this)  value="Categorie Two">Tablet </д>
                  <li onclick=setValue(this)  value="Categorie Two">Footwear Man </д>
                  <li onclick=setValue(this)  value="Categorie Two">Footwear Womens</д>
                  <li onclick=setValue(this)  value="Categorie Two">Rings</д>
                  <li onclick=setValue(this)  value="Categorie Two">Bands</д>
                  <li onclick=setValue(this)  value="Categorie Two">Headphone </д>
                  <li onclick=setValue(this)  value="Categorie Two">Rings </д>
                  <li onclick=setValue(this)  value="Categorie Two">Dresses </д>
                  <li onclick=setValue(this)  value="Categorie Two">Accessories </д>
                  <li onclick=setValue(this)  value="Categorie Two">Top </д>
                  <li onclick=setValue(this)  value="Categorie Two">Camera & Photo  </д>
                  <li onclick=setValue(this)  value="Categorie Two">Accessories</д>
                  <li onclick=setValue(this)  value="Categorie Two">Desktop</д>
                  <li onclick=setValue(this)  value="Categorie Two">shop all</д>
                </ul>
              </div>
              <!-- End All Categorie -->
              <div class="search-form">
                <form action="#">
                  <input type="text" class="input-text" name="q" id="search" placeholder="Search entire store here...">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Header Bottom Inner-->
    </div>
  </div><!-- End Header Bottom -->

</header>
