<div class="main-menu-area home-2">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-3">
            <!-- Category Menu -->
            <div class="category-menu d-none d-lg-block">
              <div class="category-menu-title">
                <h2>Categories</h2>
                <span></span>
              </div>
              <div class="categorie-list">
                <ul>
                  <li><a href="#"><img src="./img/icon/m1.webp" alt="icon">Laptop<i class="fa fa-caret-right"></i></a>
                    <ul class="mega-menu-ul">
                      <li>
                        <!--Mega Menu -->
                        <div class="mega-menu">
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Dreeses</a></h2>
                            <a href="shop.html">Cocktail</a>
                            <a href="shop.html">Day</a>
                            <a href="shop.html">Evening</a>
                            <a href="shop.html">Sports</a>
                            <a href="shop.html"><img src="./img/cart/m1.webp" alt="logo"></a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Shoes</a></h2>
                            <a href="shop.html">Sports</a>
                            <a href="shop.html">Run</a>
                            <a href="shop.html">Sandals</a>
                            <a href="shop.html">Books</a>
                            <a href="shop.html"><img src="./img/cart/m2.webp" alt="logo"></a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Handbages</a></h2>
                            <a href="shop.html">Blazers</a>
                            <a href="shop.html">Table</a>
                            <a href="shop.html">Coat</a>
                            <a href="shop.html">Kids</a>
                            <a href="shop.html"><img src="./img/cart/m3.webp" alt="logo"></a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Clothing</a></h2>
                            <a href="shop.html">T-shits</a>
                            <a href="shop.html">Coats</a>
                            <a href="shop.html">Jacketes</a>
                            <a href="shop.html">Jeans</a>
                            <a href="shop.html"><img src="./img/cart/m4.webp" alt="logo"></a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#"><img src="./img/icon/m2.webp" alt="icon">Mobile<i class="fa fa-caret-right"></i></a>
                    <ul class="mega-menu-ul">
                      <li>
                        <!--Mega Menu -->
                        <div class="mega-menu">
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Bags</a></h2>
                            <a href="shop.html">Bootes Bages</a>
                            <a href="shop.html">Blazers</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Clothing</a></h2>
                            <a href="shop.html">Coats</a>
                            <a href="shop.html">T-shits</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Lingerie</a></h2>
                            <a href="shop.html">Brands</a>
                            <a href="shop.html">Firniture</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Handbags</a></h2>
                            <a href="shop.html">Brands</a>
                            <a href="shop.html">Firnuture</a>
                            <a href="shop.html">Lifestyle</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#"><img src="./img/icon/m3.webp" alt="icon">Tablet<i class="fa fa-caret-right"></i></a>
                    <ul class="mega-menu-ul">
                      <li>
                        <!--Mega Menu -->
                        <div class="mega-menu">
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Footwear Man</a></h2>
                            <a href="shop.html">Goald rings</a>
                            <a href="shop.html">platinum rings</a>
                            <a href="shop.html">silver rings</a>
                            <a href="shop.html">tungsten ring</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Footwear womens</a></h2>
                            <a href="shop.html">Brand Goald</a>
                            <a href="shop.html">platinum rings</a>
                            <a href="shop.html">silver rings</a>
                            <a href="shop.html">tungsten ring</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Rings</a></h2>
                            <a href="shop.html">platinum rings</a>
                            <a href="shop.html">gold rings</a>
                            <a href="shop.html">silver rings</a>
                            <a href="shop.html">Diamond bracelets</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Brands</a></h2>
                            <a href="shop.html">platinum rings</a>
                            <a href="shop.html">Goald rings</a>
                            <a href="shop.html">silver rings</a>
                            <a href="shop.html">sunglasses</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#"><img src="./img/icon/m4.webp" alt="icon">Headphone<i class="fa fa-caret-right"></i></a>
                    <ul class="mega-menu-ul">
                      <li>
                        <!--Mega Menu -->
                        <div class="mega-menu">
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Rings</a></h2>
                            <a href="shop.html">Coats & Jackets</a>
                            <a href="shop.html">Blazers</a>
                            <a href="shop.html">Jackets</a>
                            <a href="shop.html">Raincoats</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Dreeses</a></h2>
                            <a href="shop.html">Ankle boots</a>
                            <a href="shop.html">Footwear</a>
                            <a href="shop.html">Clog sandals</a>
                            <a href="shop.html">combat boots</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Accessories</a></h2>
                            <a href="shop.html">Bootes Bages</a>
                            <a href="shop.html">Blazers</a>
                            <a href="shop.html">Jackets</a>
                            <a href="shop.html">Shoes</a>
                          </div>
                          <div class="single-mega-menu">
                            <h2><a href="shop.html">Top</a></h2>
                            <a href="shop.html">Briefs</a>
                            <a href="shop.html">Camis</a>
                            <a href="shop.html">Nightwear</a>
                            <a href="shop.html">Shapewear</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#"><img src="./img/icon/m5.webp" alt="icon">Camera & Photo</a></li>
                  <li><a href="#"><img src="./img/icon/m6.webp" alt="icon">Accessories</a></li>
                  <!-- Menu Accordion-->
                  <li class=" rx-child"><a href="#"><img src="./img/icon/m7.webp" alt="icon">Desktop</a></li>
                  <li class=" rx-child"><a href="#">Shop All</a></li>
                  <li class=" rx-parent">
                    <a class="rx-default"><img src="./img/icon/m8.webp" alt="icon">More categories</a>
                    <a class="rx-show"><img src="./img/icon/m9.webp" alt="icon">close menu</a>
                  </li>
                  <!-- End Menu Accordion-->
                </ul>
              </div>
            </div><!-- End Category Menu -->
          </div>
          <div class="col-lg-9">
            <!-- Manin Menu -->
            <div class="main-menu d-none d-lg-block">
              <nav>
                <ul>
                  <li><a href="index.html" class="active">Home</a>
                    <!-- Sub Menu -->
                    <ul class="sub-menu">
                      <li><a href="index-2.html">Home Page 2</a></li>
                      <li><a href="index-3.html">Home Page 3</a></li>
                      <li><a href="index-4.html">Home Page 4</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">About Us</a></li>
                  <li><a href="contact.html">Contact Us</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="shop.html">Shop All</a></li>
                  <li><a href="#" class="sub-menu-pages-btn">Pages</a>
                    <!-- Sub Menu -->
                    <ul class="sub-menu sub-menu-pages">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                      <li><a href="cart.html">Cart</a></li>
                      <li><a href="checkout.html">Checkout</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="shop.html">Shop</a></li>
                      <li><a href="shop-list.html">Shop List</a></li>
                      <li><a href="product-details.html">Product Details</a></li>
                      <li><a href="my-account.html">My Account</a></li>
                      <li><a href="testmonial.html">Testmonial</a></li>
                      <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div><!-- End Manin Menu -->
            <!-- Start Mobile Menu -->
            <div class="mobile-menu d-block d-lg-none">
              <div class="mobile-menu-btn">Categories<span></span></div>
              <nav class="mobile-menu-nav">
                <ul class="mobile-menu-list">
                  <li>
                    <a href="index.html">Home</a>
                  </li>
                  <li class="mobile-menu-group"><a class="sub-menu-btn" href="shop.html">Laptop</a>
                    <ul class="sub-menu">
                      <li><a href="" class="sub-menu-btn">Dreeses</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">Cocktail</a></li>
                          <li><a href="#">Day</a></li>
                          <li><a href="#">Evening</a></li>
                          <li><a href="#">Sports</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Shoes</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">Sports</a></li>
                          <li><a href="#">Run</a></li>
                          <li><a href="#">Sandals</a></li>
                          <li><a href="#">Books</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Handbages</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">blazers</a></li>
                          <li><a href="#">table</a></li>
                          <li><a href="#">coats</a></li>
                          <li><a href="#">Sports</a></li>
                          <li><a href="#">kids</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Clothing</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">T-shits</a></li>
                          <li><a href="#">Coats</a></li>
                          <li><a href="#">Jacketes</a></li>
                          <li><a href="#">Jeans</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="mobile-menu-group"><a class="sub-menu-btn" href="shop.html">Mobile</a>
                    <ul class="sub-menu">
                      <li><a href="#" class="sub-menu-btn">Bages</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">Bootes Bages</a></li>
                          <li><a href="#">Blazers</a></li>
                          <li><a href="#">Mermaid</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Clothing</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">coats</a></li>
                          <li><a href="#">T-shirt</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">lingerie</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">brands</a></li>
                          <li><a href="#">furniture</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="mobile-menu-group"><a class="sub-menu-btn" href="shop.html">Tablet</a>
                    <ul class="sub-menu">
                      <li><a href="#" class="sub-menu-btn">Footwear Man</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">Gold Rigng</a></li>
                          <li><a href="#">paltinum Rings</a></li>
                          <li><a href="#">Silver Ring</a></li>
                          <li><a href="#">Tungsten Ring</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Footwear Womens</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">Brand Gold</a></li>
                          <li><a href="#">paltinum Rings</a></li>
                          <li><a href="#">Silver Ring</a></li>
                          <li><a href="#">Tungsten Ring</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Band</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">Platinum Necklaces</a></li>
                          <li><a href="#">Gold Ring</a></li>
                          <li><a href="#">silver ring</a></li>
                          <li><a href="#">sunglasses</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li class="mobile-menu-group"><a class="sub-menu-btn" href="shop.html">Headphone</a>
                    <ul class="sub-menu">
                      <li><a href="#" class="sub-menu-btn">Rings</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">Coats & jackets</a></li>
                          <li><a href="#">blazers</a></li>
                          <li><a href="#">raincoats</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Dresses</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">footwear</a></li>
                          <li><a href="#">blazers</a></li>
                          <li><a href="#">clog sandals</a></li>
                          <li><a href="#">combat boots</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Accessories</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">bootees Bags</a></li>
                          <li><a href="#">blazers</a></li>
                          <li><a href="#">jackets</a></li>
                          <li><a href="#">kids</a></li>
                          <li><a href="#">shoes</a></li>
                        </ul>
                      </li>
                      <li><a href="#" class="sub-menu-btn">Top</a>
                        <ul class="sub-menu sub-sub-menu">
                          <li><a href="#">briefs</a></li>
                          <li><a href="#">camis</a></li>
                          <li><a href="#">nigthwear</a></li>
                          <li><a href="#">shapewer</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="shop.html">Camera & Photo</a></li>
                  <li><a href="shop.html">Desktop</a></li>
                  <li><a href="shop.html">Shop All</a></li>
                  <li class="mobile-menu-group"><a class="sub-menu-btn" href="">Pages</a>
                    <ul class="sub-menu sub-sub-menu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                      <li><a href="cart.html">Cart</a></li>
                      <li><a href="checkout.html">Checkout</a></li>
                      <li><a href="contact.html">Contact</a></li>
                      <li><a href="shop.html">Shop</a></li>
                      <li><a href="shop-list.html">Shop List</a></li>
                      <li><a href="product-details.html">Product Details</a></li>
                      <li><a href="my-account.html">My Account</a></li>
                      <li><a href="testmonial.html">Testmonial</a></li>
                      <li><a href="wishlist.html">Wishlist</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div><!-- End Mobile Menu -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
