<div class="singel-product single-product-col">
  <div class="label-pro-new">@tag</div>
  <!-- Single Product Image -->
  <div class="single-product-img">
    <a href="#"><img src="@img" alt="product"></a>
  </div>
  <!-- Single Product Content -->
  <div class="single-product-content">
    <h2 class="product-name"><a title="Proin lectus ipsum" href="product-details.html">@title</a></h2>
    <div class="ratings">
      <div class="rating-box">
        <div class="rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>
    </div>
    <!-- Single Product Actions -->
    <div class="product-actions">
      <button class="button btn-cart" title="Add to Cart" type="button">
        <span>@price</span>
        <i class="fa fa-shopping-cart">&nbsp;</i>
      </button>
      <div class="add-to-link">
        <ul class="">
          <li class="quic-view"><button type="button" data-bs-target="#productModal" data-bs-toggle="modal"><i class="fa fa-search"></i>Quick view</button></li>
          <li class="wishlist"><a href="#"><i class="fa fa-heart"></i></a></li>
          <li class="refresh"><a href="#"><i class="fa fa-refresh"></i></a></li>
        </ul>
      </div>
    </div><!-- End Single Product Actions -->
  </div><!-- End Single Product Content -->
</div>