// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open Sans", sans-serif;
  --content-width: 1170px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --primary: #0091d5;
  --primary2: #00a9e0;
  --secondary: #fbb203;
  --text-body: #5c5c5c
  --text: #6a6a6a;
  --text-white: #fff;
  --text2: #222;
  --background: #fff;
  --header-top: #0083c1;
  --light-color: #e5e5e5;
  --footer-bottom: #3b3d3d;
  --footer-top: #f0f0f0;
  --scrollUp: #73D33F;
  --scrollUpHover: #FF9C00;
}
